body {
    background-color: #eeeeee;
    font-family: "Host Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    --point-size: 10px;
    -ms-user-select: none; /* IE 10 and IE 11 */
    -webkit-user-select: none; /* Safari */
    user-select: none; /* Standard syntax */
}

h1 {
    font-family: "Host Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-size: 2em;
    font-style: normal;
    font-weight: 600;
}

h3 {
    font-size: 16px;
    font-weight: 800;
    margin: 0;
}

h4 {
    font-size: 12px;
}

.blue-line {
    --line-color: #0039a6;
}

.orange-line {
    --line-color: #ff6319;
}

.lime-line {
    --line-color: #6cbe45;
}

.light-gray-line {
    --line-color: #a7a9ac;
}

.brown-line {
    --line-color: #996633;
}

.yellow-line {
    --line-color: #fccc0a;
}

.red-line {
    --line-color: #ee352e;
}

.green-line {
    --line-color: #00933c;
}

.purple-line {
    --line-color: #b933ad;
}

.turquoise-line {
    --line-color: #00add0;
}

.gray-line {
    --line-color: #808183;
}

/* ----------------- */
/* ----- Space ----- */
/* ----------------- */

#infographic-space {
    position: absolute;
    top: 0px;
    left: 0px;
    display: grid;
    grid-template-rows: auto auto auto 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
                "title"
                "filters"
                "key"
                "graph";
    width: 100vw;
    height: 100vh;
    row-gap: 0.5em;
}

/* ----------------- */
/* ----- Title ----- */
/* ----------------- */

#title {
    color: #575757;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 8px;
    text-transform: capitalize;
    grid-area: title;
}

/* ------------------- */
/* ----- Filters ----- */
/* ------------------- */

#data-filters {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 48px;
    grid-area: filters;
}

.filter-group {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.filter-outline {
    border-width: 1px;
    border-color: #B2B2B2;
    border-style: solid;
    padding: 2px;
    border-radius: 50vh;
}

.filter-group > input[type="radio"] {
    display: none;
}

label {
    color: gray;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    transition: 0.25s ease;
}

input[type="radio"]:checked + label {
    background-color: black;
    border-radius: 50vh;
}

input[type="radio"]:checked + label > h3 {
    color: #eeeeee;
}

/* ----------------- */
/* ----- Graph ----- */
/* ----------------- */

#graph-wrapper {
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
    padding: 4em;
    position: relative;
    width: 100%;
    grid-area: graph;
}

#graph-axis-wrapper {
    color: gray;
}

.data-point {
    aspect-ratio: 1 / 1;
    background-color: var(--line-color);
    border-radius: 50%;
    transform: translateX(-50%);
    transition: top 1s cubic-bezier(0.5, 0, 0.5, 1), left 1s cubic-bezier(0.5, 0, 0.5, 1), background-color 0.375s ease;
    width: var(--point-size);
}

.container {
    height: 100%;
    position: relative;
    width: 100%;
}

.filler {
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
}

#graph-area {
    height: 100%;
    position: relative;
    width: 100%;
}

#graph-controls {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 16px;
    justify-content: flex-start;
    width: 100%;
}

#graph-controls > button {
    border: none;
    font-family: "Host Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-size: 2em;
    font-style: normal;
    font-weight: 600;
    margin: 0px;
    outline: none;
    padding: 0px;
}

#graph-controls > input[type="radio"] {
    display: none;
}

label {
    color: gray;
    transition: 0.25s ease;
}

input[type="radio"]:checked + label {
    color: black;
}

.tool-tip-wrapper {
    height: 100%;
    opacity: 0;
    position: relative;
    transition: 0.125s ease;
    width: 100%;
}

.tool-tip-point-outline {
    aspect-ratio: 1 / 1;
    background-color: var(--line-color);
    border-radius: 50%;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 0.25s cubic-bezier(.375, 0, .375, 1);
    width: calc(100% + 0px);
}

.tool-tip {
    background-color: white;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, .05);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 4px;
    padding: 8px;
    pointer-events: none;
    position: absolute;
    transform: translateX(8px);
    transition: 0.25s ease;
    z-index: 10;
}

.card-group {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 8px;
}

.data-point:hover > .tool-tip-wrapper {
    opacity: 1;
}

.data-point:hover > .tool-tip-wrapper > .tool-tip-point-outline {
    width: calc(100% + 4px);
}

#graph-axis-wrapper > h3 {
    position: absolute;
    top: calc(50% + 2em);
    transform: translate(0%, -50%);
}

#axis-minimum {
    left: 0px;
    text-align: left;
}

#axis-maximum {
    right: 0px;
    text-align: right;
}

#graph-points {
    box-sizing: border-box;
    padding-left: calc(var(--point-size) / 2);
    padding-right: calc(var(--point-size) / 2);
}